html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 128px;
  height: 256px;
  flex-wrap: wrap;
}

button {
  width: 25%;
  padding: 0;
  margin: 0;
}
